.homeview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90vw;

    
}

.sideFilter {
    width:5vw;
    background-color: $primary-color;
    height: 50vh;
    left:0;
    margin-top: 4rem;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.homeviewFull {
    display: flex;
}