.customNav {
    background-color: white;
    border-bottom: 1px solid lightgray;
    a.btnNav {
        background-color: $primary-color;
        color: white;
        font-weight: bold;
        text-decoration: none;
        padding: 7px;
        border-radius: 5px;
        margin-left: 5px;
    }
    .btnNav{
        background-color: $primary-color;
        color: white;
        
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
        margin-left: 10px;
        border: none;
    }
    .btnNav:hover{
        color: black;
    
    }
    a.btnNavLogin {
        
        color: black;
        font-weight: bold;
        text-decoration: none;
        padding: 7px;
    }
    .btnAddCateg {
        color: black;
        text-decoration: none;
        padding: 7px;
        
    }
    .btnAddCateg:hover{
        color: $primary-color;
        border-bottom: 3px solid $primary-color;
    }
    .userName{
        color: $primary-color;
        font-weight: bold;
    }
}