.form {
    max-width: 30vw;
    margin: 20px auto;

    button {
        background-color: $primary-color;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 20px;
    }
    button:hover {
        background-color: white;
        color: $primary-color;
        font-weight: bold;
    }
    .input {
        margin-bottom: 5px;;
        border-radius: 20px;
        text-align: center;
    }

    h3 {
        text-align: center;
        color: rgb(80, 80, 80) 
    }
}