.form {
    max-width: 500px;
    margin: 20px auto;

    button {
        background-color: $primary-color;
        color: white;
        font-weight: bold;
        border: none;
    }
    button:hover {
        background-color: white;
        color: $primary-color;
        font-weight: bold;
    }
    .input {
        margin-bottom: 5px;;
    }
}